.logo{
  margin-top: -1.50em;
}
.phone{
  text-align: right;
  margin-right: 2.500em;
}
.phone   a:link{
  color: pink;
  text-decoration: none;
}
.brand{
  height: 100px;
  background-color: cornflowerblue;
}
.bottom{
  margin-top: 50px;
}
.indent{
  margin-left: 70px;
}
.contactLink{
  width: 1.00em;
}
